input[type=text]{
	margin:none;
	display:block;
	padding:5px 10px 5px 20px;
	border:none;
}

input[type=checkbox]{
	margin:none;
	padding:5px;
	width:20px;
	height:20px;
}

input[type=submit]{
	margin:none;
	padding:5px 10px 5px 20px;
	border:none;
}

textarea{
	margin:none;
	padding:10px;
	resize:none;
}

a {
	color: black;
}

a:hover {
	color: #666666;
}

.inicio  {
	position:absolute;
	width:500px;
	height:300px;
	top:50%;
	left:50%;
	margin-top:-200px;
	margin-left:-250px;
}

.logo {
	margin-left:0px;
	margin-top:50px;
}

ul {
	list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#playlist{
	clear:both;
	width:100%;
	height:100px;
	border-bottom:1px solid #999;
	font-family:'BebasNeueRegular',AgencyFB, Arial;
	font-weight:300;
}

#playlist h2{
	float:left;

	margin:30px 30px 0 0;
	font-size:40px;
	font-weight:300;
}

#btn_mando{
	float:left;
	width:40px;
	height:40px;
	/*background-color:#f00;*/
	margin:30px 0 0 0;
	cursor:pointer;
}

#ff{
	float:left;
	width:40px;
	height:40px;
	margin:30px 0 0 10px;
	background-color:#000;
	cursor:pointer;
	background-image:url(../diseno/ff.png);
	background-repeat:no-repeat;
	background-size:100%;
}

#ff:hover{
	background-color:#f00;
}

.play{
	width:40px;
	height:40px;
	background-color:#f00;
	background-image:url(../diseno/play.png);
	background-repeat:no-repeat;
	background-size:100%;
}


.pausa{
	width:40px;
	height:40px;
	background-color:#0ff;
	background-image:url(../diseno/pausa.png);
	background-repeat:no-repeat;
	background-size:100%;
}

#output{
	float:left;
	width:70%;
	height:40px;
	margin:30px 0 0 30px;
	padding:0 0 0 0;
	font-size:30px;
	font-weight:300;
	color:#999;
	overflow:hidden;
}

#cancion{
	font-size:21px;
	color:#000;
}

#artista{
	font-size:18px;
}

#videoinicio {
	border-bottom:1px solid #999;
	clear:both;
	float:none;
	margin:0;
	min-height: 450px;
	padding:30px 0 0 0;
	width:100%;
}

.cuadrovideo,
.videos {
	padding-bottom: 20px;
}

.servicio {
	background-color:#000;
	color: #fff;
	font-family:'SteelfishEbRegular', AgencyFB, Arial;
	font-size: 25px;
	font-weight: 300;
	margin-bottom: 20px;
	padding: 10px 20px;
	text-align: left;
}

#list-portafolio {
	display: flex;
	flex-wrap: wrap;
}

.artist-album-image {
	box-sizing: border-box;
	padding: 2.5px 5px;
	width: 50%;
}

.artist-album-image img {
	width: 100%
}

.artist-album-image:hover {
	opacity: 0.7;
}

@media all and (min-width: 650px) {
	#cnt_videos1,
	#cnt_videos2 {
		display: flex;
		justify-content: space-between;
	}

	#cnt_videos1 {
		padding-bottom: 20px;
	}

	#cnt_videos2 {
		padding: 0px 0 20px 0;
	}

	.cuadrovideo {
		min-height: 250px;
		width: 49.4%;
	}

	.videos {
		width: 24%;
	}

	.servicio {
		padding: 10px 15px 15px 30px;
		margin: 20px 20px 0 0;
	}

	.artist-album-image {
		width: 20%;
	}
}

#cnt_portafolio {
	float:left;
	width:100%;
	padding:30px 0% 50px 0%;
}

.logo {
	float:left;
	height:auto;
	padding:0.5%;
	margin:1% 1% 0 0;
	box-shadow:4px 4px 10px #666666;
	background-color:white;
}

.logo img {
	width:100%;
}

.logo ul li img {
	width: 100%;
}

.logo:hover {
	opacity: 0.7;
}

#cnt_servicios {
	float:left;
	width:54%;
	height:530px;
	border-top: 1px solid #999999;
	border-right: 1px solid #999999;
}

.masservicio {
	width: 80%;
	height: 30px;
	padding: 10px 15px 15px 0;
	margin: 20px 0 0 0;
	background-color:#fff;
	font-family: 'SteelfishEbRegular', AgencyFB, Arial;
	font-size: 25px;
	font-weight: 300;
	text-align: left;
	color: #f00;
}

.masservicio a {
	color: #f00;
	text-decoration: none
}

.masservicio a:hover {
	color:#000;
}

#registro {
	float:left;
	width:43%;
	height:450px;
	padding:30px 0 50px 2%;
	border-top: 1px solid #999999;
}

.tituloregistro {
	font-family:'SteelfishEbRegular', AgencyFB, Arial;
	font-size:80px;
}

#cnt_campos1 {
	float:none;
	width:100%;
	height:205px;
	font-family: 'BebasNeueRegular';
	font-weight:300;
	font-size:20px;
	color:#666;
}

#cnt_campos2 {
	float:none;
	width:100%;
	height:150px;
	font-family: 'BebasNeueRegular';
	font-weight:300;
	font-size:20px;
	color:#666;
}

div#formulario {
	float:left; /*flota al lado de la guia*/
	position:relative;
	margin-left:0px;
	margin-top:20px;
	padding:0px;
	font-family: 'BebasNeueRegular';
	color:#666;
	font-size:30px;
}

.frm-nombrecampo {
	clear:both;
	float:left;
	width:100px;
}
.frm-campo {
	float:left;
	width:100%;
	margin-bottom:5px;
}
.frm-campofijo {
	clear:both;
}

#frm-sexo {
	position:absolute; /*realtivo al formulario*/
	width:100px;
	top:143px;
	left:570px;
	padding:6px;
	z-index:200;
	background:#FFFFFF;
	font-size:50px;
}

.f_sexocampo1 {
	clear:both;
	font-size:32px;
	color:#000;
}

.f_comocampo  {
	clear:both;
	float:left;
	width:100%;
	margin-top:10px;
}

.f_boton {
	clear:both;
	padding-top:0px;
	padding-left: 2px;
}

.form_nombre {
	height:30px;
	width:85%;

	background-color:#000;
	color:#FFF
}
.form_asunto {
	height:30px;
	width:85%;
	background-color:#000;
	color:#FFF
}

.form_mail{
	height:30px;
	width:85%;
	background-color:#000;
	color:#FFF
}

.form_mensaje{
	width:85%;
	height:45px;
	border:none;
	background-color:#000;
	color:#FFF
}

#boton {
	clear:both;
	width:150px;
	padding:10px 5px 10px 5px;
	font-family: 'BebasNeueRegular';
	font-size:18px;
	font-weight:300;
	color: #FFF;
	background-color:#666;
	border-color:#069;
	cursor: pointer;
}

#boton:hover {
	background-color:#f00
}

.select {
	height:30px;
	border:none;
	color:#FFF
}

.mensaje {
	font-family: 'BebasNeueRegular';
	color:#666;
	font-size:15px;
}
