.music-masters {
    padding: 0 20px 40px;
}

.music-masters .music-masters-sub-nav {
    display: flex;
    font-family: 'SteelfishEbRegular', AgencyFB, Arial;
    font-size: 25px;
    letter-spacing: 1px;
    padding-bottom: 20px;
}

.music-masters .music-masters-sub-nav a {
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    color: black
}

.music-masters .music-masters-sub-nav-item {
    padding-right: 25px;
}

.music-masters .music-masters-sub-nav a:hover {
    color: grey;
    text-decoration: underline;
}

.music-masters .section-title {
    border-bottom: 2px solid #000;
	font-family: 'SteelfishEbRegular', AgencyFB, Arial;
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 0;
    padding: 0 0 5px;
    text-transform: uppercase;
	width: 100%;
}

.music-masters .section-title.sub-title {
    border: none;
    font-size: 40px;
    padding-top: 40px;
}

.music-masters .news-section-title {
    height: initial;
}

.music-masters .video-entries-wrapper * {
    font-family: 'Arial';
    font-size: 15px;
}

.music-masters .music-masters-logo-wrapper {
    width: 150px;
}

.music-masters .music-masters-logo-wrapper img {
    width: 100%;
}

.music-masters .music-masters-text {
    color: #666;
    font-family: 'Arial';
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 1.7em;
    padding: 10px 0 40px;
}

.music-masters .video-entries-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.music-masters .video-entry {
    font-size: 12px;
    padding: 10px 0;
    width: 47%;
}

.music-masters .video-entry p {
    color: #666;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 1.5em;
}

.music-masters .video-entry a {
    color: black
}

.music-masters .video-entry a:hover {
    color: grey
}

.music-masters .video-entry img {
    width: 100%;
}

.music-masters-videos-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 40px;
}

.music-masters-videos-wrapper .video {
    margin: 0;
    min-height: 250px;
    padding: 10px 0;
    width: 100%;
}

.music-masters .f-box img {
    border: 2px solid black;
    border-radius: 10px;
}

.music-masters .tik-tok-title {
    padding-top: 10px;
}

@media all and (min-width: 650px) {
    .music-masters {
        padding: 0 0 60px;
    }

    .music-masters .music-masters-sub-nav {
        font-size: 35px;
        padding-bottom: 40px;
    }

    .music-masters .music-masters-logo-wrapper {
        width: 250px;
    }

    .music-masters .section-title {
        font-size: 70px;
        margin-bottom: 40px;
    }

    .music-masters .section-title.sub-title {
        font-size: 50px;
        margin-bottom: 20px;
    }

    .music-masters .video-entry {
        font-size: 15px;
        width: 30%;
    }

    .music-masters .video-entry p {
        font-size: 15px;
    }

    .music-masters-videos-wrapper .video {
        width: 32%;
    }
}

@media all and (min-width: 750px) {
    .music-masters-videos-wrapper .video {
        width: 49%;
    }
}
