
.music-masters-link-wrapper * {
	font-family: SteelfishBold;
}

.music-masters-link-wrapper p {
	font-family: 'BebasNeueRegular', 'SteelfishBold', 'Arial';
}

.music-masters-link-wrapper {
	border-bottom: 1px solid black;
	font-family: Arial, Helvetica, sans-serif;
	padding: 30px 0;
}

.music-masters-link-wrapper.grid-display {
	clear: both;
	display: block;
}

.music-masters-link-wrapper p {
	color: #333;
	font-size: 18px;
	letter-spacing: 2px;
	line-height: 1.7em;
	margin-top: 0;
	text-transform: uppercase;
}

.music-masters-link-wrapper a {
	color: black;
	font-size: 22px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.music-masters-link-wrapper a:hover {
	color: red;
}

.music-masters-link-wrapper .music-masters-logo-wrapper.logo {
	float: none;
}

.music-masters-link-wrapper .music-masters-logo-wrapper {
	box-shadow: none;
	padding: 0 20px 20px 0;
	width: 170px;
}

@media all and (min-width: 650px) {
	.music-masters-link-wrapper.grid-display {
		display: flex;
	}

	.music-masters-link-wrapper .music-masters-logo-wrapper {
		padding: 0 30px 0 0;
		width: 200px;
	}

	.music-masters-link-wrapper-text-wrapper {
		max-width: 600px;
	}
}