
.news-wrapper {
	border-bottom: 1px dotted #999;
	clear: both;
	display: flex;
	margin: 0px 0 0 0;
	padding: 20px 0;
	width: 100%;
}

.news-wrapper *,
.single-news-wrapper * {
	font-family: 'BebasNeueRegular',AgencyFB, Arial;
	font-weight: 300;
	margin: 0;
	padding: 0;
}

.single-news-wrapper {
	padding-top: 40px;
}

.news-main-image {
	behavior: url(PIE.htc);
	border-radius: 10px;
	overflow: hidden;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	width: 30%;
}

.news-text-wrapper a {
	text-decoration: none;
	color: #000;
}

.news-text-wrapper a:hover {
	color: grey;
}

.news-main-image img {
	width: 100%;
}

.news-text-wrapper {
	padding-left: 20px;
	width: 70%;
}

.news-text-wrapper h2,
.single-news-wrapper h2  {
	font-size: 25px;
}

.news-text-wrapper p,
.single-news-wrapper p  {
	font-size: 20px;
}

@media all and (min-width: 650px) {
	.news-main-image {
		width: 150px;
	}

	.news-text-wrapper h2,
	.single-news-wrapper h2  {
		font-size: 45px;
	}

	.news-text-wrapper p,
	.single-news-wrapper p  {
		font-size: 35px;
	}

	.news-text-wrapper {
		padding-left: 40px;
	}
}

.single-news-wrapper h2 {
	padding-bottom: 40px;
}

.single-news-wrapper .news-body * {
	font-family: 'Arial';
	font-size: 16px;
}

.news-section-title {
	border-bottom: 3px solid #000;
	clear: both;
	font-family: 'SteelfishEbRegular', AgencyFB, Arial;
	font-size: 70px;	color:#000;
	height: 70px;
	margin: 0px 0 15px 0;
	padding: 100px 0 15px 0;
	width: 100%;
}
