
.clientes{

}

.contenedorlogos {
	clear: both;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 1100px;
	min-height: 200px;
	padding-bottom: 0px;
}

.cuadrologo {
	border-radius: 0px;
	box-shadow: 4px 4px 10px #666666;
	margin: 1% 1% 0 0;
	padding: 1%;
	width: 47%;
}

.cuadrologo img{
	width:100%;
}

@media all and (min-width: 650px) {
	.cuadrologo {
		padding: 0.5%;
		width: 18%;
	}
}