

.tt_serviciosen{
	float:none; 
	margin:0px 0 10px 0px; 
	font-size:25px; 
	
}


.tt_servicio  {

	margin-left:0px; 
	padding:13px 13px 13px 13px; 
	font-size:25px;
	
}


div.descripcionservicio1 {
	
	margin:2px 0 0 0; 
	padding:20px 20px 20px 20px; 
	background-color:#000; 
	font-family:Arial; 
	font-size:12px;
	
}