#cnt_videos {
	display: block;
	padding: 0 5% 50px 5% 0;
}

.videoV {
	height: 250px;
	padding-top: 25px;
	width: 100%;
}

.videos-section-wrapper .tt_servicios {
	float: none;
}

@media all and (min-width: 650px) {
	#cnt_videos {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.videoV {
		height: 300px;
		width: 49%;
	}
}